# ---------------- #
#   Main Configs   #
# ---------------- #
baseurl:
url: http://www.ixiaomili.cn
date_format: "ordinal"
title: 小米粒之家
subtitle: "我们只是代码的搬运工"
description: "小米粒的个人博客"
keywords: java, 博客, 小米粒
favicon: /favicon.ico
timezone: Asia/Shanghai
encoding: "utf-8"
side_bar_repo_limit: 5

# ---------------- #
#      Author      #
# ---------------- #
author: 小米粒
organization: ixiaomili.cn
organization_url: http://www.ixiaomili.cn
github_username: aftersss
location: HangZhou, China
email: 

# ---------------- #
#    Navigation    #
# ---------------- #
navs:
  -
    href: /
    label: 首页

  -
    href: /categories/
    label: 分类

  -
    href: /wiki/
    label: 维基

  -
    href: /links/
    label: 链接

  -
    href: /about/
    label: 关于

# ---------------- #
#       RSS        #
# ---------------- #
subscribe_rss: /feed.xml

# ---------------- #
#      Jekyll      #
# ---------------- #
markdown: kramdown
kramdown:
    input: GFM
highlighter: rouge
paginate: 8
lsi: false
quiet: false
excerpt_separator: "\n\n"
permalink: /:year/:month/:day/:title/
gems:
    - jekyll-github-metadata
    - rouge
#     - jekyll-html-pipeline
    - jekyll-paginate
    - jekyll-sitemap
    - jekyll-feed
    - jemoji
#     - jekyll-mentions
collections:
    wiki:
        output: true
        permalink: /wiki/:path/

repository: aftersss/aftersss.github.io

# ---------------- #
#      Comments    #
# ---------------- #
# support provider: disqus, gitment
comments_provider: gitment
# !!!重要!!! 请修改下面这些信息为你自己申请的
# !!!Important!!! Please modify infos below to yours
# https://disqus.com
disqus:
    username: aftersss
# https://imsun.net/posts/gitment-introduction/
gitment:
    owner: aftersss
    repo: aftersss.github.io
    oauth:
        client_id: 3e604fb6c3900582407f
        client_secret: fc485690428a23f38b45ae240bed866f256a651a
# 在使用其它评论组件时可点击显示 Disqus
lazy_load_disqus : true

# ---------------- #
#    Analytics     #
# ---------------- #
google:
    analytics_id: UA-80669434-1
